/* ---------- Base ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(3, 3, 16);
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}

/*--Back button--*/
.back-btn {
  position: absolute;
  top: 86px;
  left: 80px;
  color: white;
  font-size: 28px;
  text-decoration: none;
  /* background: rgba(255, 255, 255, 0.1); */
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s ease;
  z-index: 1000;
}

.back-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}


/*-----Posters-----*/

.mylist-container {
  padding: 40px 40px;
  max-width: 1600px;
  margin: 0 auto;
}

.mylist-heading {
  text-align: center;
  font-size: 3.0rem;
  font-weight: 1110;
  margin-bottom: 80px;
  margin-top: 40px;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  justify-items: center;
}

.poster-card {
  position: relative;
  width: 100%;
  max-width: 180px;
  transition: transform 0.3s ease;
}

.poster-card img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}

.poster-card:hover img {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .poster-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 800px) {
  .poster-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .poster-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
