/* ---------- Base ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f10;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}


/*-----Posters-----*/

.mylist-container {
  padding: 40px 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.mylist-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  justify-items: center;
}

.poster-card {
  position: relative;
  width: 100%;
  max-width: 180px;
  transition: transform 0.3s ease;
}

.poster-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}

.poster-card:hover img {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .poster-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 800px) {
  .poster-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .poster-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
